.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover {
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

}
.hover:hover {
    background-color: var(--primary);
    color: white;
}

a:hover {
    color: var(--secondary);
}